EASTROUTER_API_KEY=your_eastrouter_api_key_here
SLACK_BOT_TOKEN_HERMES=your_slack_bot_token_hermes_here
SLACK_APP_TOKEN_HERMES=your_slack_app_token_hermes_here
SLACK_BOT_TOKEN_OPENCLAW=your_slack_bot_token_openclaw_here
SLACK_APP_TOKEN_OPENCLAW=your_slack_app_token_openclaw_here

GITHUB_TOKEN=your_github_token_here
GITHUB_REPO=Shankar-0707/forge2-Shankar
WORKING_DIR=
